.leaflet-container {
    width: 100%;
    height: 100%;
}

.dashboard__header {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.dashboard__locations-title {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
}

.dashboard__searching-input {
    display: flex;
    align-items: flex-end;
    margin-left: 40px;
    margin-top: 10px;
}

.dashboard__mapAndFilter {
    position: relative;
    width: 100%;
    height: 500px;
}

.dashboard__filter {
    position: absolute;
    top: 0;
    z-index: 9999;
    left: 90%;
    margin-left: -75px; /* half of the width */
    margin-top: 20px;
}

.popup__main-container {
    border-radius: 0px;
}

.popup__name {
    font-size: 13px;
    font-weight: bold;
}

.popup__country {
    font-size: 10px;
    color: grey;
}

.popup__first-title {
    font-weight: bold;
    color: grey;
    font-size: 10px;
    margin-top: 10px;
}

.popup__title {
    font-weight: bold;
    color: grey;
    font-size: 10px;
    margin-top: 5px;
}